@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900|Varela+Round');
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
*,
*:before,
*:after{
	box-sizing: border-box;
}
ul{
	list-style-type: none;
}
body{
	overflow-x: hidden;
}
a{
	color: #222;
	text-decoration: none;
}
.clearfix:before,
        .clearfix:after {
            content: " ";
            display: table;
        }
        
        .clearfix:after {
            clear: both;
        }
.box-shadow{
	box-shadow: 0px 0px 1px 3px #222;
}
.closed{
	opacity: 0;
	transition: 1s;
}

/*---------- HEADER ---------*/
.menu{
	transition: 1s;
}
.menu ul{
	width: 300px;
	height: 250px;
	background: #fff;
	position: absolute;
	right: 200px;
	padding-top: 30px;
	cursor: pointer;
}
.menu ul li{
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-family: 'Source Sans Pro';
	line-height: 2;
}

/*--------- INDEX ---------*/
div.mg-container{
	width: 100%;
	overflow: hidden;
	background: url(../img/carreau_temple.jpg);
	height: 100vh;
}
div.mg-menu-burger{
	border: 1px solid;
	padding: 60px;
	width: 15%;
	background: #fff;
	float: right;
	margin-right: -50px;
	margin-top: -80px;
	-webkit-transform: rotate(155deg);
	-ms-transform: rotate(155deg);
	-o-transform: rotate(155deg);
	transform: rotate(155deg);
}
div.mg-menu-burger img{
	display: block;
	margin: 0 auto;
	-webkit-transform: rotate(-155deg);
	-ms-transform: rotate(-155deg);
	-o-transform: rotate(-155deg);
	transform: rotate(-155deg);
	cursor: pointer;
}
div.mg-wrapper-days{
	height: 100vh;
	font-size: 1030px;
	display: inline-block;
	width: 100%;
	text-align: center;
	position: absolute;
	left: 40%;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
	top: -20%;
	letter-spacing: 130px;
	font-family: 'Source Sans Pro';
	font-weight: 900;
	color: #D32727;
	opacity: 0.4;
	margin-right: 30px;
}
.days-bis{
	position: absolute;
	bottom: 10px;
	right: 400px;
	color: #D32727;
	opacity: 0.6;
	font-family: 'Source Sans Pro';
	font-size: 60px;
	font-weight: bold;
}
div.mg-wrapper-hours{
	height: 100vh;
	font-size: 60px;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	height: 100px;
	float: right;
	position: relative;
	top: 35%;
	color: #95C833;
	opacity: 0.6;
	font-family: 'Source Sans Pro';
	font-weight: bold;
}
div.mg-wrapper-minuts{
	height: 100vh;
	font-size: 60px;
	display: inline-block;
	text-align: center;
	height: 100px;
	float: right;
	position: relative;
	top: 55%;
	margin-right: -120px;
	margin-top: 130px;
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
	color: #4033C8;
	opacity: 0.6;
	font-family: 'Source Sans Pro';
	font-weight: bold;

}
div.mg-wrapper-seconds{
	border: 1px solid;
	height: 100vh;
	font-size: 20px;
	display: inline-block;
	text-align: center;
}
div.mg-title{
	position: absolute;
	top: 50%;
	margin-left: 20%;
}
h1 img{
	width: 300px;
	display: block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
div.mg-title h2{
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 32px;
}




div.mg-container-2{
	width: 100%;
	background: #222;
}
div.mg-container-2 ul{
	overflow: hidden;
}
div.mg-container-2 ul:nth-of-type(1) li{
	float: left;
	width: 25%;
	color: #fff;
	text-align: center;
	font-size: 300px;
	font-family: 'Source Sans Pro';
	font-weight: 600;
}
div.mg-container-2 ul:nth-of-type(1) li:nth-child(1){
	color: #4033C8;
}
div.mg-container-2 ul:nth-of-type(1) li:nth-child(2){
	color: #D32727;
}
div.mg-container-2 ul:nth-of-type(1) li:nth-child(3){
	color: #2BBCD8;
}
div.mg-container-2 ul:nth-of-type(1) li:nth-child(4){
	color: #95C833;
}
div.mg-container-2 ul:nth-of-type(2) li{
	float: left;
	color: #fff;
	width: 25%;
	text-align: center;
	font-size: 46px;
	font-family: 'Source Sans Pro';
}
div.mg-container-2 .mg-red-div{
	background: #D32727;
	width: 400px;
	height: 400px;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	margin-top: 100px;
	margin-left: -200px;
}
div.mg-container-2 .mg-pic-jenny{
	width: 200px;
	height: 200px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 0 auto;
	overflow: hidden;
	margin-top: -300px;
}
div.mg-container-2 .mg-pic-jenny .pic{
	background: url('../img/jenny.jpeg') no-repeat;
	background-size: cover;
	width: 290px;
	height: 290px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: -70px 120px;
	-moz-transform-origin: -70px 120px;
	-ms-transform-origin: -70px 120px;
	-o-transform-origin: -70px 120px;
	transform-origin: -70px 120px;
	margin-top: 100px;
}
div.mg-container-2 .mg-wrapper{
	height: 110px;
	position: relative;
}
div.mg-container-2 .mg-title{	
	position: absolute;
	top: -90px;
	left: 30%;
}
div.mg-container-2 .mg-title h3{
	color: #fff;
	font-family: 'Source Sans Pro';
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 30px;
}
div.mg-container-2 .mg-title p{
	line-height: 2;
	color: #fff;
	font-family: 'Source Sans Pro';
}
div.mg-container-2 .mg-wrapper-two{
	width: 100%;
	margin-left: 30%;
}
div.mg-container-2 .mg-wrapper-two .mg-conf{
	width: 170px;
	height: 170px;
	background: #fff;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
div.mg-container-2 .mg-wrapper-two .mg-conf p{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 0 auto;
	font-weight: 600;
}
div.mg-container-2 .mg-wrapper-two .mg-conf p:nth-child(1){
	margin-left: 63px;
	font-size: 90px;
	font-family: 'Source Sans Pro';
	text-align: center;
	
}
div.mg-container-2 .mg-wrapper-two .mg-conf p:nth-child(2){
	font-size: 18px;
	font-family: 'Source Sans Pro';
	position: relative;
	bottom: 60px;
	text-align: center;
	font-weight: lighter;
	margin-top: 30px;
}
div.mg-container-2 .mg-wrapper-three{
	width: 230px;
	height: 230px;
	background: #fff;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	right: 150px;
}
div.mg-container-2 .mg-wrapper-three .mg-conf{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-right: -130px;
}
div.mg-container-2 .mg-wrapper-three .mg-conf p:nth-child(1){
	font-size: 110px;
	text-align: center;
	margin-left: -100px;
	margin-top: 40px;
	font-family: 'Source Sans Pro';
}
div.mg-container-2 .mg-wrapper-three .mg-conf p:nth-child(2){
	text-align: center;
	font-size: 29px;
	font-family: 'Source Sans Pro';
	margin-left: -100px;
}
div.mg-container-2 .mg-wrapper-bis{
	width: 100%;
	overflow-y: hidden;
}
div.mg-container-2 .mg-wrapper-bis .mg-wrapper-four{
	width: 500px;
	height: 500px;
	margin-left: 320px;
	position: relative;
	left: 10%;
	margin-top: 250px;

}
div.mg-container-2 .mg-wrapper-bis .mg-wrapper-four .pic{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	overflow: hidden;
	width: 400px;
	height: 400px;
	margin-left: 60px;
}
div.mg-container-2 .mg-wrapper-bis .mg-wrapper-four .arth-pic{
	width: 720px;
	height: 720px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background: url(../img/arthur.jpg) no-repeat;
	background-size: cover;
	-webkit-transform-origin: 380px 60px;
	-moz-transform-origin: 380px 60px;
	-ms-transform-origin: 380px 60px;
	-o-transform-origin: 380px 60px;
	transform-origin: 380px 60px;
}
div.mg-container-2 .mg-wrapper-bis .mg-title{
	width: 500px;
	position: relative;
	z-index: 10;
	margin-left: 350px;
	margin-top: -200px;
	font-family: 'Source Sans Pro';
}

div.mg-container-2 .mg-wrapper-five{
	width: 230px;
	height: 230px;
	background: #fff;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	right: 150px;
}
div.mg-container-2 .mg-wrapper-five .mg-conf{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-right: -130px;
}
div.mg-container-2 .mg-wrapper-five .mg-conf p:nth-child(1){
	font-size: 110px;
	text-align: center;
	margin-left: -120px;
	font-family: 'Source Sans Pro';
	font-weight: bold;
	margin-top: 50px;
}
div.mg-container-2 .mg-wrapper-five .mg-conf p:nth-child(2){
	text-align: center;
	font-size: 29px;
	font-family: 'Source Sans Pro';
	margin-left: -120px;
}
div.mg-container-2  .mg-champ .img-champ{
	background: #852DDE;
	height: 200px;
	width: 200px;
	position: relative;
	z-index: 1;
	-webkit-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	transform: rotate(-15deg);
	margin-left: 250px;
	margin-top: 300px;
}
.mg-champ .img-champ-bis{
	background: url('../img/champ.png') no-repeat center center;
	background-size: contain;
	height: 200px;
	width: 200px;
	position: relative;
	z-index: 2;
}
.mg-champ h4{
	color: #fff;
	font-family: 'Source Sans Pro';
	font-size: 18px;
	font-weight: 400;
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
}
.mg-champ h4.one{
	font-size: 30px;
	margin-left: 210px;
	width: 300px;
}
.mg-champ h4.two{
	width: 300px;
	font-size: 20px;
	margin-left: 200px;

}
.carresurlecote{
	width: 200px;
	height: 200px;
	background: #4033C8;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-left: -100px;
}
.get{
	margin-top: 200px;
	width: 100%;
	text-align: center;
	font-size: 170px;
	-webkit-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
	color: #2BD85F;
}
.get p{
	font-family: 'Source Sans Pro';
	font-weight: bold;
	letter-spacing: 7px;
}
.ticket{
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 50px;
	position: relative;
	bottom: 100px;
	letter-spacing: 5px;
	font-weight: 600;
}
.last{
	width: 200px;
	height: 200px;
	background: #95C833;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 0 auto;
	margin-bottom: -100px;
	margin-top: 100px;
}

/*---------- Programme ---------*/
.hastag-design 
{
	background: #66c833;
}

.hastag-dev 
{
	background: #d32727;
}

.programme-titre 
{
	height: 120vh;
}

.titre-mauve 
{
	color: #b941d7;
	font-size: 127px;
    font-weight: lighter;
}

.titre-vert 
{
	color: #2ad85f;
	font-size: 130px;
}

.rp-program
{
	clear: both;
	margin: 0 auto 5% auto;
	position: relative;
	width: 90%;

}

.rp-horaire
{
	width: 20%;
	float: left;
	margin: 0 7.5%;
	letter-spacing: 2px;
    font-weight: 500;
}

.rp-horaire img
{
	float: left;
	width: 100%;
}

.rp-horaire h2
{
	margin: 5% 0 0 0;
	float: left;
	letter-spacing: 2px;
    font-weight: 500;
}

.rp-horaire p 
{
	font-weight: lighter;
	margin: 3% 0;
	font-size: 24px;
	line-height: 2;
	float: left;
	clear: both;
}

.rp-horaire2
{
	margin: 15% 0 0 0;
}

.rp-design
{
	float: left;
	width: 33%;
	margin: 10%  2.5% 0 2.5%;
}

.nom-intervenant 
{
	text-transform: uppercase;
}

.rp-design h3
{
	color: #fff;
	width: 34%;
	padding: 1.5% 0;
	text-align: center;
	margin-top: 11%;
}

.rp-design h2
{
	margin: 2.5% 0;
}

.rp-design p
{
	line-height: 2;
	font-size: 24px;
}

.rp-design button
{
	margin: 3% 0 0 0;
    border: 2px solid #2bbcd7;
    padding: 1.5% 5%;
    background: #191919;
    font-size: 24px;
    color: #2bbcd7;
}

.rp-heure
{
	font-size: 120px;
	font-weight: bold;
}

.rp-heure1
{
	position: absolute;
	top: -5%;
	left: 32%;
	color: #6c6c6c;
}

.rp-heure2
{
	position: absolute;
	top: 5%;
    left: 35%;
    color: #fff;
    opacity: 0.6;
}

.rp-line
{
	width: 5px;
	height: 100vh;
	background: #fff;
	float: left;
	margin: 0 0 0 2%;
}

.rp-title
{
	font-size: 48px;
	text-align: center;
}

/*--------- Ticket --------*/

.rp-ticket
{
	background: #191919;
}

.rp-form
{
	width: 75%;
	margin: 5% auto;
}

.rp-title-ticket, .rp-input
{
	width: 50%;
	float: left;
}

.rp-title-ticket h2
{
	font-size: 110px;
}

.rp-title-ticket h2:nth-child(1)
{
	color: #28d85f;
}

.rp-title-ticket h2:nth-child(2)
{
	color: #d32727;
}

.rp-title-ticket h2:nth-child(3)
{
	color: #2ec7e0;
}
.rp-input label:first-child
{
	margin: 27% 0 0 0;
}
.rp-input label
{
	color: #fff;
}
.rp-input label, .rp-input input
{
	clear: both;
	float: left;
	margin: 1% 0;
	font-size: 24px;
	background: #191919;
	border: none;
}

.rp-date
{
	float: left;
	width: 15%;
	clear:both;
	margin: 10% 0;
	color: #fff;
}

.rp-date h2
{
	font-size: 55px;
}

.rp-date p
{
	font-size: 30px;
}

.rp-selection
{
	float: left;
	width: 85%;
	margin: 8% 0;
}

.rp-selection hr
{
	position: relative;
	top: 80px;
	z-index: -1;
}

.rp-content
{
	background: #fff;
	padding: 2.5%;
	width: 15%;
	float: left;
	margin: 0 2.5%;
}

.rp-pick
{
	clear: both;
}
.rp-pick h2
{
	color: #fff;
	font-size: 60px;
}
.rp-pick p
{
	margin: 10% 0;
	color: #fff;
	font-size: 20px;
	float: left;
	width: 30%;
}

.rp-pick hr
{
	width: 70%;
	float: right;
	color: #ccc;
	margin: -3% 0 0 0;
}

.rp-checkout
{
	margin: 7% 0 0 0;
	float: right;
	width: 15%;
}

.rp-checkout button, .rp-checkout h2
{
	float: left;
}

.rp-checkout button:last-child
{
	clear: both;
}

.rp-checkout h2
{
	margin: -5% 0 0 0;
}

.rp-checkout button
{
	background: #0d0d0d;
	border: none;
	color: #fff;
	padding: 5%;
}

.rp-button1
{
	margin: 0% 15% 0 0;
}

.rp-button2
{
	margin: 0 0 0 15%;
}

.rp-button3
{
	background: none !important;
	border: 3px solid #28d85f !important;
	color: #28d85f !important;
	margin: 5% 0 0 -8%;
	width: 100%
}

/*---------- About ---------*/

.rp-about
{
	background: #191919;
}

.rp-about-content
{
	width: 80%;
	margin: 0 auto;
}

.rp-title-about
{
	margin: 5% 0;
}

.rp-title-about h2
{
	color: #ce7133;
	font-size: 70px;
	letter-spacing: 10px;
}

.rp-title-about h1
{
	text-transform: uppercase;
	color: #28afcf;
	font-size: 80px;
}

.rp-absolute1
{
	width: 23%;
	color: #fff;
	position: absolute;
	font-size: 117px;
	letter-spacing: 10px;
	left: 23%;
	top: 26%;
}

.rp-text1
{
	color: #fff;
	width: 40%;
	margin: 0 0 0 40%;
	float: left;
	line-height: 2.5;
	font-size: 24px;
}

.rp-text2
{
	color: #fff;
	width: 40%;
	float: left;
	line-height: 2.5;
	margin: 10% 0 10% 0;
	font-size: 24px;
}

.rp-absolute2
{
	width: 23%;
	color: #fff;
	position: absolute;
	font-size: 117px;
	letter-spacing: 10px;
	right: 19%;
	top: 75%;
}

.rp-number
{
	clear: both;
	width: 80%;
	margin: 15% auto 0 auto;
	position: relative;
	background: #191919;
}

.rp-line
{
	background: #fff;
	position: absolute;
	top: 100px;
	left: -30%;
	width: 156%;
	height: 2px;
	z-index: -1;
}

.rp-number div
{
	text-align: center;
	float: left;
	width: 25%;
	margin: 0 4.15%;
	color: #fff;
}

.rp-number h1
{
	font-size: 110px;
}

.rp-number p
{
	font-size: 24px;
}

.rp-sponsor
{
	clear: both;
	float: left;
	width: 100%;
	margin: 10% auto;
	color: #fff;
}

.rp-sponsor p
{
	font-size: 50px;
	margin: 5% 0;
}

.rp-sponsor div
{
	width: 25%;
	margin: 0 4.15%;
	float: left;
	display: block;
}

.rp-sponsor img
{
	width: 100%;
	display: block;
}