*
{
	margin: 0;
	padding: 0;
}

*, *:before, *:after
{
	box-sizing: border-box;
}

.clearfix:before, .clearfix:after
{
	content: " ";
	display: table;
}

.clearfix:after
{
	clear: both;
}

/*--------- ABOUT ---------*/
body
{
	font-family: 'Source Sans Pro', sans-serif;
	background: #191919;
}

h1, h2, h3
{
	font-family: 'Varela', sans-serif;
}

h2, p {
	color: #fff;
}

.hastag-design {
	background: #66c833;
}

.hastag-dev {
	background: #d32727;
}

.programme-titre {
	height: 120vh;
}

.titre-mauve {
	color: #b941d7;
	font-size: 127px;
    font-weight: lighter;
}

.titre-vert {
	color: #2ad85f;
	font-size: 130px;
}

.rp-program
{
	clear: both;
	margin: 0 auto 5% auto;
	position: relative;
	width: 90%;

}

.rp-horaire
{
	width: 20%;
	float: left;
	margin: 0 7.5%;
	letter-spacing: 2px;
    font-weight: 500;
}

.rp-horaire img
{
	float: left;
	width: 100%;
}

.rp-horaire h2
{
	margin: 5% 0 0 0;
	float: left;
	letter-spacing: 2px;
    font-weight: 500;
}

.rp-horaire p 
{
	font-weight: lighter;
	margin: 3% 0;
	font-size: 24px;
	line-height: 2;
	float: left;
	clear: both;
}

.rp-horaire2
{
	margin: 15% 0 0 0;
}

.rp-design
{
	float: left;
	width: 33%;
	margin: 10%  2.5% 0 2.5%;
}

.nom-intervenant {
	text-transform: uppercase;
}
.rp-design h3
{
	color: #fff;
	width: 34%;
	padding: 1.5% 0;
	text-align: center;
	margin-top: 11%;
}

.rp-design h2
{
	margin: 2.5% 0;
}

.rp-design p
{
	line-height: 2;
	font-size: 24px;
}

.rp-design button
{
	margin: 3% 0 0 0;
    border: 2px solid #2bbcd7;
    padding: 1.5% 5%;
    background: #191919;
    font-size: 24px;
    color: #2bbcd7;
}

.rp-heure
{
	font-size: 120px;
	font-weight: bold;
}

.rp-heure1
{
	position: absolute;
	top: -5%;
	left: 32%;
	color: #6c6c6c;
}

.rp-heure2
{
	position: absolute;
	top: 5%;
    left: 35%;
    color: #fff;
    opacity: 0.6;
}

.rp-line
{
	width: 5px;
	height: 100vh;
	background: #fff;
	float: left;
	margin: 0 0 0 2%;
}

.rp-title
{
	font-size: 48px;
	text-align: center;
}